<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="back.css">
    <title>About</title>
</head>
<body>
    <h2 class="text-center text-danger">About Us</h2>
    <p>We are a team of dedicated developers working on a student management system.</p>
    <p>Our goal is to provide a comprehensive solution for managing student information, grades, and attendance.</p>
    <p>We believe in the power of technology to enhance education and streamline administrative tasks.</p>
    <p>Our system is designed to be user-friendly and efficient, making it easy for educators and administrators to manage student data.</p>
    <p>If you have any questions or feedback, please feel free to reach out to us.</p>
    <p>Thank you for your interest in our project!</p>  
    <p>this is made by sambhaji,sumit,rayyan,and umesh</p>


</body>
</html>